.aboutDiv {
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 100px 0;
  max-width: 800px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.p_ap {
  word-spacing: 3px;
  font-size: 18px;
}

.img_ap {
  width: 500px;
  padding: 20px;
}
